# Import Libraries

In [1]:
import pandas as pd

# Dataframe

## Read .csv and create dataframe

In [2]:
file_path = '/home/chad/code/ChadReich/solar_PV_forecaster/Le Wagon Solar Data.csv'

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Select only relevant columns from .csv
selected_columns = ['meter_id', 'tstamp', 'impwh', 'expwh', 'ptot']
new_df = df[selected_columns]

## Format dataframe

In [3]:
new_df['ptot'] = new_df['ptot'].abs()

# Select rows of only one meter using its meter_id
df_final = new_df[new_df['meter_id'] == 7672]

# Convert the object column to datetime
df_final['tstamp'] = pd.to_datetime(df_final['tstamp'])

# Set the timestamp column as the DataFrame index
df_final.set_index('tstamp', inplace=True)

# Resample with a frequency of 1 minute and fill gaps with 0
df_final = df_final.resample('5T').sum().fillna(0)

# Remove specific rows at beginning of df
start_timestamp = pd.Timestamp('2020-11-28 08:25')
end_timestamp = pd.Timestamp('2020-11-28 23:55')

# Create a boolean mask to filter rows between the start and end timestamps
mask = (df_final.index < start_timestamp) | (df_final.index > end_timestamp)

# Apply the mask to the DataFrame to remove rows between the two timestamps
df_f = df_final[mask]

df_f

/tmp/ipykernel_15229/3039913987.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['ptot'] = new_df['ptot'].abs()
/tmp/ipykernel_15229/3039913987.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['tstamp'] = pd.to_datetime(df_final['tstamp'])

                     meter_id      impwh         expwh     ptot
tstamp
2020-11-29 00:00:00      7672    7363.04  1.612240e+08    0.000
2020-11-29 00:05:00      7672    7363.04  1.612240e+08    0.000
2020-11-29 00:10:00      7672    7363.04  1.612240e+08    0.000
2020-11-29 00:15:00      7672    7363.04  1.612240e+08    0.000
2020-11-29 00:20:00      7672    7363.04  1.612240e+08    0.000
...                       ...        ...           ...      ...
2023-11-28 03:45:00      7672  101261.92  2.211862e+09  100.988
2023-11-28 03:50:00      7672  101261.92  2.211870e+09   93.512
2023-11-28 03:55:00      7672  101261.92  2.211876e+09   77.631
2023-11-28 04:00:00      7672  101261.92  2.211882e+09   72.378
2023-11-28 04:05:00      7672  101261.92  2.211890e+09   95.303

[315122 rows x 4 columns]

In [11]:
df_f=df_f[df_f.index.hour>=5]
df_f=df_f[df_f.index.hour<=19]
df_f

,meter_id,impwh,expwh,ptot,Power Loss Event
tstamp,,,,,
2020-11-29 05:00:00,7672,7363.04,1.612240e+08,0.000,2
2020-11-29 05:05:00,7672,7363.04,1.612240e+08,0.000,2
2020-11-29 05:10:00,7672,7363.04,1.612240e+08,0.000,2
2020-11-29 05:15:00,7672,7363.04,1.612241e+08,1.164,0
2020-11-29 05:20:00,7672,7363.04,1.612243e+08,2.127,0
...,...,...,...,...,...
2023-11-27 19:35:00,7672,101261.92,2.211767e+09,0.061,0
2023-11-27 19:40:00,7672,101261.92,2.211767e+09,0.000,2
2023-11-27 19:45:00,7672,101261.92,2.211767e+09,0.000,2
2023-11-27 19:50:00,7672,101261.92,2.211767e+09,0.000,2
2023-11-27 19:55:00,7672,101261.92,2.211767e+09,0.000,2

## Create a label column for Power Loss Events

In [12]:
# Create a mask for consecutive 0s
#mask = df_f['ptot'].eq(0)

# Create a group identifier for consecutive 0s
#group_id = (mask & ~mask.shift(fill_value=False)).astype(int).cumsum()

# Calculate the duration of each group in 5-minute intervals
#group_duration = mask.groupby(group_id).cumcount() + 1

# Create a new column based on the conditions you provided
#df_f['Power Loss Event'] = 0  # Default value

#for idx, duration in enumerate(group_duration):
#    if duration < 24:
#        df_f.loc[df_f.index[idx], 'Power Loss Event'] = 2
#    elif 24 <= duration <= 54:
#        df_f.loc[df_f.index[idx], 'Power Loss Event'] = 1
#    elif duration > 54:
#        df_f.loc[df_f.index[idx], 'Power Loss Event'] = 3

#df_f

In [36]:
def power_loss(row):
    power_loss_values = []
    consecutive_zeros = 0
    
    for value in row:
        if value == 0:
            consecutive_zeros += 1 # Count consecutive zeros
        
        #value in ptot column is non-zero
        else:
            #check the count is between 2 and 4.5 hours 
            if 24 <= consecutive_zeros <= 54:
                #add 1 to the list and extend the number of entries per the count
                power_loss_values.extend([1] * consecutive_zeros)
            else:
                #add 2 to the list and extend the number of entries per the count
                power_loss_values.extend([2] * consecutive_zeros)
            
            power_loss_values.append(0) #Append 0 to indicate the end of consecutive zeros
            consecutive_zeros = 0       #Reset the count if a non-zero value is encountered

    #If the last value in 'ptot' is zero, extend 'Power Loss' with 2s or 1s based on the count
    if consecutive_zeros > 0:
        if 24 <= consecutive_zeros <= 54:
            power_loss_values.extend([1] * consecutive_zeros)
        else:
            power_loss_values.extend([2] * consecutive_zeros)

    return sum(power_loss_values) #Convert the list to an int by summing its elements

df_f['Power Loss Event'] = df_f[['ptot']].apply(power_loss, axis=1)

df_f

,meter_id,impwh,expwh,ptot,Power Loss Event
tstamp,,,,,
2020-11-29 05:00:00,7672,7363.04,1.612240e+08,0.000,2
2020-11-29 05:05:00,7672,7363.04,1.612240e+08,0.000,2
2020-11-29 05:10:00,7672,7363.04,1.612240e+08,0.000,2
2020-11-29 05:15:00,7672,7363.04,1.612241e+08,1.164,0
2020-11-29 05:20:00,7672,7363.04,1.612243e+08,2.127,0
...,...,...,...,...,...
2023-11-27 19:35:00,7672,101261.92,2.211767e+09,0.061,0
2023-11-27 19:40:00,7672,101261.92,2.211767e+09,0.000,2
2023-11-27 19:45:00,7672,101261.92,2.211767e+09,0.000,2
2023-11-27 19:50:00,7672,101261.92,2.211767e+09,0.000,2
2023-11-27 19:55:00,7672,101261.92,2.211767e+09,0.000,2

In [78]:
start_time = '2023-08-06 17:45:00'
end_time = '2023-08-07 10:00:00'

subset_df = df_f.loc[(df_f.index >= start_time) & (df_f.index <= end_time)]

subset_df.head(65)

,meter_id,impwh,expwh,ptot,Power Loss Event
tstamp,,,,,
2023-08-06 17:45:00,7672,96395.68,1.982225e+09,0.682,0
2023-08-06 17:50:00,7672,96395.68,1.982225e+09,0.000,2
2023-08-06 17:55:00,7672,96397.76,1.982225e+09,0.025,0
2023-08-06 18:00:00,7672,96416.32,1.982225e+09,0.223,0
2023-08-06 18:05:00,0,0.00,0.000000e+00,0.000,2
...,...,...,...,...,...
2023-08-07 07:45:00,7672,96417.12,1.982226e+09,8.857,0
2023-08-07 07:50:00,7672,96417.12,1.982228e+09,12.847,0
2023-08-07 07:55:00,7672,96417.12,1.982229e+09,17.525,0
2023-08-07 08:00:00,7672,96417.12,1.982231e+09,23.071,0
2023-08-07 08:05:00,7672,96417.12,1.982233e+09,29.987,0

In [79]:
sdf = subset_df.head(60).copy()

In [82]:
def power_loss(row):
    power_loss_values = []
    consecutive_zeros = 0
    
    for value in row:
        if value == 0:
            consecutive_zeros += 1 # Count consecutive zeros
        
        #value in ptot column is non-zero
        else:
            #check the count is between 2 and 4.5 hours 
            if 24 <= consecutive_zeros <= 54:
                #add 1 to the list and extend the number of entries per the count
                power_loss_values.extend([1] * consecutive_zeros)
            else:
                #add 2 to the list and extend the number of entries per the count
                power_loss_values.extend([2] * consecutive_zeros)
            
            power_loss_values.append(0) #Append 0 to indicate the end of consecutive zeros
            consecutive_zeros = 0       #Reset the count if a non-zero value is encountered

    #If the last value in 'ptot' is zero, extend 'Power Loss' with 2s or 1s based on the count
    if consecutive_zeros > 0:
        if 24 <= consecutive_zeros <= 54:
            power_loss_values.extend([1] * consecutive_zeros)
        else:
            power_loss_values.extend([2] * consecutive_zeros)

    return sum(power_loss_values) #Convert the list to an int by summing its elements

sdf['Power Loss Event'] = sdf[['ptot']].apply(power_loss, axis=1)

sdf

                     meter_id     impwh         expwh   ptot  Power Loss Event
tstamp
2023-08-06 17:45:00      7672  96395.68  1.982225e+09  0.682                 0
2023-08-06 17:50:00      7672  96395.68  1.982225e+09  0.000                 2
2023-08-06 17:55:00      7672  96397.76  1.982225e+09  0.025                 0
2023-08-06 18:00:00      7672  96416.32  1.982225e+09  0.223                 0
2023-08-06 18:05:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 18:10:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 18:15:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 18:20:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 18:25:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 18:30:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 18:35:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 18:40:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 18:45:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 18:50:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 18:55:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 19:00:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 19:05:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 19:10:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 19:15:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 19:20:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 19:25:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 19:30:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 19:35:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 19:40:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 19:45:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 19:50:00         0      0.00  0.000000e+00  0.000                 2
2023-08-06 19:55:00         0      0.00  0.000000e+00  0.000                 2
2023-08-07 05:00:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 05:05:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 05:10:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 05:15:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 05:20:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 05:25:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 05:30:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 05:35:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 05:40:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 05:45:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 05:50:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 05:55:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 06:00:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 06:05:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 06:10:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 06:15:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 06:20:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 06:25:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 06:30:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 06:35:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 06:40:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 06:45:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 06:50:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 06:55:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 07:00:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 07:05:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 07:10:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 07:15:00      7672  96417.12  1.982225e+09  0.000                 2
2023-08-07 07:20:00      7672  96417.12  1.982225e+09  0.641                 0
2023-08-07 07:25:00      7672  96417.12  1.982225e+09  0.898                 0
2023-08-07 07:30:00      7672  96417.12  1.982225e+09  1.603                 0
2023-08-07 07:35:00      7672  96417.12  1.982225e+09  3.711                 0
2023-08-07 07:40:00      7672  96417.12  1.982226e+09  5.955                 0