# Import Libraries

In [1]:
import pandas as pd

# Dataframe

## Read .csv and create dataframe

In [2]:
file_path = '/home/chad/code/ChadReich/solar_PV_forecaster/Le Wagon Solar Data.csv'

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Select only relevant columns from .csv
selected_columns = ['meter_id', 'tstamp', 'impwh', 'expwh', 'ptot']
new_df = df[selected_columns]

## Format dataframe

In [3]:
new_df['ptot'] = new_df['ptot'].abs()

# Select rows of only one meter using its meter_id
df_final = new_df[new_df['meter_id'] == 7672]

# Convert the object column to datetime
df_final['tstamp'] = pd.to_datetime(df_final['tstamp'])

# Set the timestamp column as the DataFrame index
df_final.set_index('tstamp', inplace=True)

# Resample with a frequency of 1 minute and fill gaps with 0
df_final = df_final.resample('5T').sum().fillna(0)

# Remove specific rows at beginning of df
start_timestamp = pd.Timestamp('2020-11-28 08:25')
end_timestamp = pd.Timestamp('2020-11-28 23:55')

# Create a boolean mask to filter rows between the start and end timestamps
mask = (df_final.index < start_timestamp) | (df_final.index > end_timestamp)

# Apply the mask to the DataFrame to remove rows between the two timestamps
df_f = df_final[mask]

df_f

/tmp/ipykernel_15229/3039913987.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['ptot'] = new_df['ptot'].abs()
/tmp/ipykernel_15229/3039913987.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['tstamp'] = pd.to_datetime(df_final['tstamp'])

                     meter_id      impwh         expwh     ptot
tstamp
2020-11-29 00:00:00      7672    7363.04  1.612240e+08    0.000
2020-11-29 00:05:00      7672    7363.04  1.612240e+08    0.000
2020-11-29 00:10:00      7672    7363.04  1.612240e+08    0.000
2020-11-29 00:15:00      7672    7363.04  1.612240e+08    0.000
2020-11-29 00:20:00      7672    7363.04  1.612240e+08    0.000
...                       ...        ...           ...      ...
2023-11-28 03:45:00      7672  101261.92  2.211862e+09  100.988
2023-11-28 03:50:00      7672  101261.92  2.211870e+09   93.512
2023-11-28 03:55:00      7672  101261.92  2.211876e+09   77.631
2023-11-28 04:00:00      7672  101261.92  2.211882e+09   72.378
2023-11-28 04:05:00      7672  101261.92  2.211890e+09   95.303

[315122 rows x 4 columns]

In [4]:
df_f=df_f[df_f.index.hour>=5]
df_f=df_f[df_f.index.hour<=20]
df_f

                     meter_id      impwh         expwh   ptot
tstamp
2020-11-29 05:00:00      7672    7363.04  1.612240e+08  0.000
2020-11-29 05:05:00      7672    7363.04  1.612240e+08  0.000
2020-11-29 05:10:00      7672    7363.04  1.612240e+08  0.000
2020-11-29 05:15:00      7672    7363.04  1.612241e+08  1.164
2020-11-29 05:20:00      7672    7363.04  1.612243e+08  2.127
...                       ...        ...           ...    ...
2023-11-27 20:35:00      7672  101261.92  2.211767e+09  0.000
2023-11-27 20:40:00      7672  101261.92  2.211767e+09  0.000
2023-11-27 20:45:00      7672  101261.92  2.211767e+09  0.000
2023-11-27 20:50:00      7672  101261.92  2.211767e+09  0.000
2023-11-27 20:55:00      7672  101261.92  2.211767e+09  0.000

[210048 rows x 4 columns]

## Create a label column for Power Loss Events

In [5]:
# Create a mask for consecutive 0s
#mask = df_f['ptot'].eq(0)

# Create a group identifier for consecutive 0s
#group_id = (mask & ~mask.shift(fill_value=False)).astype(int).cumsum()

# Calculate the duration of each group in 5-minute intervals
#group_duration = mask.groupby(group_id).cumcount() + 1

# Create a new column based on the conditions you provided
#df_f['Power Loss Event'] = 0  # Default value

#for idx, duration in enumerate(group_duration):
#    if duration < 24:
#        df_f.loc[df_f.index[idx], 'Power Loss Event'] = 2
#    elif 24 <= duration <= 54:
#        df_f.loc[df_f.index[idx], 'Power Loss Event'] = 1
#    elif duration > 54:
#        df_f.loc[df_f.index[idx], 'Power Loss Event'] = 3

#df_f

In [6]:
def power_loss(row):
    power_loss_values = []
    consecutive_zeros = 0
    
    for value in row:
        if value == 0:
            consecutive_zeros += 1 # Count consecutive zeros
        
        #value in ptot column is non-zero
        else:
            #check the count is between 2 and 4.5 hours 
            if 24 <= consecutive_zeros <= 54:
                #add 1 to the list and extend the number of entries per the count
                power_loss_values.extend([1] * consecutive_zeros)
            else:
                #add 2 to the list and extend the number of entries per the count
                power_loss_values.extend([2] * consecutive_zeros)
            
            power_loss_values.append(0) #Append 0 to indicate the end of consecutive zeros
            consecutive_zeros = 0       #Reset the count if a non-zero value is encountered

    #If the last value in 'ptot' is zero, extend 'Power Loss' with 2s or 1s based on the count
    if consecutive_zeros > 0:
        if 24 <= consecutive_zeros <= 54:
            power_loss_values.extend([1] * consecutive_zeros)
        else:
            power_loss_values.extend([2] * consecutive_zeros)

    return sum(power_loss_values) #Convert the list to an int by summing its elements

df_f['Power Loss Event'] = df_f[['ptot']].apply(power_loss, axis=1)

df_f

,meter_id,impwh,expwh,ptot,Power Loss Event
tstamp,,,,,
2020-11-29 05:00:00,7672,7363.04,1.612240e+08,0.000,2
2020-11-29 05:05:00,7672,7363.04,1.612240e+08,0.000,2
2020-11-29 05:10:00,7672,7363.04,1.612240e+08,0.000,2
2020-11-29 05:15:00,7672,7363.04,1.612241e+08,1.164,0
2020-11-29 05:20:00,7672,7363.04,1.612243e+08,2.127,0
...,...,...,...,...,...
2023-11-27 20:35:00,7672,101261.92,2.211767e+09,0.000,2
2023-11-27 20:40:00,7672,101261.92,2.211767e+09,0.000,2
2023-11-27 20:45:00,7672,101261.92,2.211767e+09,0.000,2
2023-11-27 20:50:00,7672,101261.92,2.211767e+09,0.000,2
2023-11-27 20:55:00,7672,101261.92,2.211767e+09,0.000,2

In [7]:
start_time = '2023-08-06 14:00:00'
end_time = '2023-08-06 23:55:00'

subset_df = df_f.loc[(df_f.index >= start_time) & (df_f.index <= end_time)]

subset_df.head(60)

,meter_id,impwh,expwh,ptot,Power Loss Event
tstamp,,,,,
2023-08-06 14:00:00,7672,96395.68,1.981769e+09,247.945,0
2023-08-06 14:05:00,7672,96395.68,1.981790e+09,244.771,0
2023-08-06 14:10:00,7672,96395.68,1.981810e+09,241.304,0
2023-08-06 14:15:00,7672,96395.68,1.981830e+09,236.997,0
2023-08-06 14:20:00,7672,96395.68,1.981849e+09,233.242,0
2023-08-06 14:25:00,7672,96395.68,1.981868e+09,228.434,0
2023-08-06 14:30:00,7672,96395.68,1.981887e+09,226.040,0
2023-08-06 14:35:00,7672,96395.68,1.981905e+09,220.026,0
2023-08-06 14:40:00,7672,96395.68,1.981923e+09,215.217,0
2023-08-06 14:45:00,7672,96395.68,1.981941e+09,211.180,0
2023-08-06 14:50:00,7672,96395.68,1.981958e+09,206.561,0
2023-08-06 14:55:00,7672,96395.68,1.981975e+09,201.310,0
2023-08-06 15:00:00,7672,96395.68,1.981991e+09,196.581,0
2023-08-06 15:05:00,7672,96395.68,1.982007e+09,194.260,0
2023-08-06 15:10:00,7672,96395.68,1.982023e+09,189.450,0
2023-08-06 15:15:00,7672,96395.68,1.982039e+09,184.203,0
2023-08-06 15:20:00,7672,96395.68,1.982053e+09,177.761,0
2023-08-06 15:25:00,7672,96395.68,1.982068e+09,171.297,0
2023-08-06 15:30:00,7672,96395.68,1.982081e+09,164.826,0
2023-08-06 15:35:00,7672,96395.68,1.982095e+09,158.381,0
2023-08-06 15:40:00,7672,96395.68,1.982107e+09,151.591,0
2023-08-06 15:45:00,7672,96395.68,1.982119e+09,145.339,0
2023-08-06 15:50:00,7672,96395.68,1.982131e+09,137.121,0
2023-08-06 15:55:00,7672,96395.68,1.982142e+09,129.579,0
2023-08-06 16:00:00,7672,96395.68,1.982152e+09,122.041,0
2023-08-06 16:05:00,7672,96395.68,1.982161e+09,114.413,0
2023-08-06 16:10:00,7672,96395.68,1.982170e+09,107.676,0
2023-08-06 16:15:00,7672,96395.68,1.982178e+09,99.122,0
2023-08-06 16:20:00,7672,96395.68,1.982186e+09,90.184,0
2023-08-06 16:25:00,7672,96395.68,1.982193e+09,83.971,0
2023-08-06 16:30:00,7672,96395.68,1.982198e+09,63.220,0
2023-08-06 16:35:00,7672,96395.68,1.982203e+09,61.077,0
2023-08-06 16:40:00,7672,96395.68,1.982208e+09,58.576,0
2023-08-06 16:45:00,7672,96395.68,1.982212e+09,46.945,0
2023-08-06 16:50:00,7672,96395.68,1.982215e+09,29.665,0
2023-08-06 16:55:00,7672,96395.68,1.982216e+09,18.966,0
2023-08-06 17:00:00,7672,96395.68,1.982218e+09,15.777,0
2023-08-06 17:05:00,7672,96395.68,1.982219e+09,14.776,0
2023-08-06 17:10:00,7672,96395.68,1.982220e+09,13.577,0
2023-08-06 17:15:00,7672,96395.68,1.982221e+09,12.616,0
2023-08-06 17:20:00,7672,96395.68,1.982222e+09,12.488,0
2023-08-06 17:25:00,7672,96395.68,1.982223e+09,12.856,0
2023-08-06 17:30:00,7672,96395.68,1.982224e+09,9.921,0
2023-08-06 17:35:00,7672,96395.68,1.982224e+09,6.647,0
2023-08-06 17:40:00,7672,96395.68,1.982225e+09,2.820,0
2023-08-06 17:45:00,7672,96395.68,1.982225e+09,0.682,0
2023-08-06 17:50:00,7672,96395.68,1.982225e+09,0.000,2
2023-08-06 17:55:00,7672,96397.76,1.982225e+09,0.025,0
2023-08-06 18:00:00,7672,96416.32,1.982225e+09,0.223,0
2023-08-06 18:05:00,0,0.00,0.000000e+00,0.000,2
2023-08-06 18:10:00,0,0.00,0.000000e+00,0.000,2
2023-08-06 18:15:00,0,0.00,0.000000e+00,0.000,2
2023-08-06 18:20:00,0,0.00,0.000000e+00,0.000,2
2023-08-06 18:25:00,0,0.00,0.000000e+00,0.000,2
2023-08-06 18:30:00,0,0.00,0.000000e+00,0.000,2
2023-08-06 18:35:00,0,0.00,0.000000e+00,0.000,2
2023-08-06 18:40:00,0,0.00,0.000000e+00,0.000,2
2023-08-06 18:45:00,0,0.00,0.000000e+00,0.000,2
2023-08-06 18:50:00,0,0.00,0.000000e+00,0.000,2
2023-08-06 18:55:00,0,0.00,0.000000e+00,0.000,2